@{
    ViewData["Title"] = "Home Page";
}

<div class="max-w-3xl">
    <h1 class="text-5xl">Image Processor</h1>
    <h2 class="mt-3 text-xl">Transform images from one format to another, resize and compress them. 
        More things are planned in the future, you can see the Roadmap down below.
    </h2>

    <h3 class="mt-6 text-xl font-bold">About the project</h3>
    <ul class="mt-1 pl-8 list-disc text-lg">
        <li>.NET 8 (using EF Core)</li>
        <li>Vertical Slice Architecture (mixed with 3 Tier Architecture and concepts of DDD)</li>
        <li>Tailwind</li>
        <li>Hosted on Azure</li>
        <li>Repo on GitHub: <a class="text-blue-600 underline hover:text-blue-500 visited:text-purple-600 " href="https://github.com/joaohass/file-processor" target="_blank">joaohass/file-processor</a></li>
    </ul>
    
    <h3 class="mt-3 text-xl font-bold">Roadmap</h3>
    <ul class="mt-1 pl-8 list-disc text-lg">
        <li>Localization</li>
        <li>User Accounts</li>
        <li>Notifications</li>
        <li>Cache last processed files (zipped) in fileStorage</li>
        <li>Custom resize dimensions</li>
        <li>More compress options</li>
        <li>Dark mode/Light mode switch</li>
    </ul>
    
    <p class="mt-6 text-lg">
        <b>Disclaimer:</b> The primary objective of this project is to experiment with ideas. If you see something over-engineered, that's the reason :)
    </p>
</div>

